# Sever Config
PORT = 9000
CLIENT_DEV_PORT = 3002
CLIENT_PATH = "client/dist"
CORS = ["http://localhost:3002", "https://hc-tcg-beta.fly.dev", "https://hc-tcg.online"]
WORLD = LTF42
LIMITS_MAX_TURN_TIME = 90
LIMITS_EXTRA_ACTION_TIME = 30
LIMITS_MIN_CARDS = 42
LIMITS_MAX_DUPLICATES = 3
LIMITS_MAX_DECK_COST = 42
LOGO_SUB_TEXT = "New Stuff!"

# Debug Config
DISABLE_DECK_VALIDATION = false
EXTRA_STARTING_CARDS = []
NO_ITEM_REQUIREMENTS = false
FORCE_COIN_FLIP = false
ONE_SHOT_MODE = false
DISABLE_DAMAGE = false
DISABLE_DECK_OUT = false
START_WITH_ALL_CARDS = false
UNLIMITED_CARDS = false
BLOCKED_ACTIONS = []
AVAILABLE_ACTIONS = []
SHOW_HOOK_STATE_ENABLED = false
SHOW_HOOK_STATE_CLEAR_CONSOLE = true
AUTO_END_TURN = false
LOG_ATTACK_HISTORY = false
